@font-face {
  font-family: "PP Agrandir";
  src: url("./fonts/Agrandir-Regular.otf");
}

* {
  padding: 0;
  margin: 0;
  font-family: "PP Agrandir";
}

::selection {
  background: #fff;
  color: #000;
}
img {
  max-width: 100%;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.container {
  max-width: 84.4vw;
}

body {
  background: #000000;
}

h1 {
  font-size: 7.03vw;
  line-height: 1;
  color: #fff;
  font-weight: 400;
}

h2 {
  font-size: 6.7vw;
  line-height: 1;
  color: #fff;
  font-weight: 400;
}
h3 {
  font-weight: 400;
  line-height: 1;
  font-size: 2.18vw;
  color: #fff;
}

p {
  font-size: 1.04vw;
  line-height: 1.5;
  color: #fff;
  font-weight: 400;
}

a {
  text-decoration: none;
  transition: all 0.2s ease;
}

a.btn-all {
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 0.52vw;
  color: #000;
  padding: 1.19vw 2.81vw;
  font-size: 1.04vw;
  display: inline-block;
}
a.btn-all:hover {
  background: transparent;
  color: #fff;
}

/* header */
header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9;
}
.main-nav-logo img {
  width: 13.9vw;
}
.main-nav-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.04vw;
}
.main-nav {
  padding-top: 1.04vw;
}
.main-nav-items__social {
  display: flex;
  align-items: center;
  gap: 1.14vw;
}
.main-nav-items__social a img {
  width: 1.56vw;
}

.main-nav-items__social a:nth-child(2) img {
  width: 2.13vw;
}
.main-nav-items__social a:hover {
  opacity: 0.6;
}
.main-nav-items__btn a {
  padding: 0.625vw 1.25vw 0.5vw;
}

/* footer */
.footer-logo {
  padding-bottom: 7.65vw;
}
.footer-logo img {
  position: relative;
  z-index: 9;
  mix-blend-mode: difference;
}
footer {
  position: relative;
  /* min-height: 100vh; */
  padding-top: 10.6vw;
}
.footer-spline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer-copy-wrapper {
  background: rgba(255, 255, 255, 0.1);
  z-index: 99;
  position: relative;
  backdrop-filter: blur(10px);
  padding: 5.88vw 0 2.68vw;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.footer-social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.14vw;
}
.footer-social a img {
  width: 1.5vw;
}
.footer-social a:nth-child(2) img {
  width: 2.13vw;
}
.footer-social a:hover {
  opacity: 0.7;
}

.reveal-line {
  display: inline-block;
  overflow: hidden;
  margin-right: 0.25em;
  line-height: 1;
}

.reveal-word {
  will-change: transform, opacity;
  backface-visibility: hidden;
  display: inline-block;
  transform: translateY(100%);
  opacity: 0;
}

@media (max-width: 767px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
  .main-nav-logo img {
    width: 156px;
  }
  a.btn-all {
    font-size: 14px;
    border-radius: 10px;
  }
  .main-nav-items__btn {
    display: none;
  }
  .main-nav-items__social {
    gap: 12px;
  }
  .main-nav-items__social a:nth-child(2) img {
    width: 24px;
  }
  .main-nav-items__social a img {
    width: 17px;
  }
  .main-nav {
    padding-top: 20px;
  }
  .main-nav-items {
    gap: 8px;
  }
  footer {
    padding-top: 96px;
  }
  .footer-logo {
    padding-bottom: 66px;
  }
  .footer-copy-wrapper {
    padding: 38px 0 32px;
  }
  .footer-copy-wrapper .row {
    flex-direction: column-reverse;
  }
  .footer-social {
    justify-content: center;
    gap: 18px;
  }
  .footer-social a img {
    width: 25px;
  }
  .footer-social a:nth-child(2) img {
    width: 34px;
  }
  .footer-copy {
    text-align: center;
    margin-top: 26px;
  }
  .footer-copy p {
    margin-bottom: 0;
  }
}
